<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<div class="center-div">
    <form class="input-form" action="#" method="GET">
        <input class="city-input" type="text" placeholder="Enter city name">
        <button type="submit" class="bt">Add</button>
    </form>
    <div class="cards">
        <div class="card" style="background-image: url({{ url_for('static', filename='img/night.jpg') }})">
            <div class="delete-wrapper"><a href="">&#10006;</a></div>
            <div class="degrees"><span>9°</span></div>
            <div class="state">Chilly</div>
            <div class="empty"></div>
            <div class="city">BOSTON</div>
        </div>

        <div class="card" style="background-image: url({{ url_for('static', filename='img/sunrise.jpg') }})">
            <div class="degrees"><span>-15°</span></div>
            <div class="state">Cold</div>
            <div class="empty"></div>
            <div class="city">EDMONTON</div>
        </div>

        <div class="card day" style="background-image: url({{ url_for('static', filename='img/sunny.png') }})">
            <div class="degrees day"><span>32°</span></div>
            <div class="state">Sunny</div>
            <div class="empty"></div>
            <div class="city">NEW YORK</div>
        </div>



    </div>
</div>
</body>
</html>